@media screen and (max-width:1280px) {

    /*スクロールバー全体*/
    div::-webkit-scrollbar {
        width: 15px;
        height: 15px;
    }

    /*スクロールバーの軌道*/
    div::-webkit-scrollbar-track {
      background: #eee;
      border-radius: 1px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    }

    /*スクロールバーの動く部分*/
    div::-webkit-scrollbar-thumb {
      background-color: rgba(100, 100, 100, .5);
      border-radius: 1px;
      box-shadow:0 0 0 1px rgba(255, 255, 255, .3);
    }

}