/* 計画履行建物検索用CSS（search_multiBuilding.xhtml 専用）*/

/* 検索条件 建物グルーピング*/
.table_condition_grouping_pop
{
    width: 100%;
}

.table_condition_grouping_col_pop
{
    width: 27%;
}
.table_condition_grouping_col_item_pop{
    width: 23%;
}