body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
}

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #D20005;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

/* 本章の背景 */
.background {
    position: relative;
    background-color: #FFFFFF;
    padding: 5px;
}

.page_title{
    margin: 5px 0 0 5px;
    padding-left: 5px;
    color:rgb(65,105,154); 
    font-weight:bold;
    font-size: 20px;
    border-left: rgb(65,105,154) solid 3px;
}

.page_subtitle{
    margin-left: 20px;
    color: #000000;
    font-size:12px;
}

.contents_title{
    margin: 5px 0 0 5px;
    padding: 5px;
    background: rgb(189,230,255);
    font-weight:bold;
    font-size: 20px;
}

.contents_subtitle{
    margin-left: 20px;
    color: red;
    font-size:12px;
}

.annotation{
   padding:3px;
   font-size: 10px;
   color:red;
   background: rgb(253,230,230);
}

.common_buttont1{
}

.common_buttont2{
}

.Sub_bottom {
    position: relative;
    background-color: #E7E7E7;
    padding: 5px;
    margin: 0px 0px 0px 0px;
    height: 120px;
}

/* 画面遷移ボタン　*/
.sub_transition_button{
    height: 35px;
    width: 150px;
    color: #222222;
    background: #D1D1D1;
    font-size: 15px 
}

.sub_center_content {
    position: relative;
    margin-right: auto;
    margin-left : auto;
    width:1200px;
    min-height: 565px;
    background-color: #FFFFFF;
}

/* 表示位置調整 */
.contents_margin_first{
    margin-top: 20px;
}

/* 表示位置調整 */
.contents_margin{
    margin-left: 20px;
}


/* 文字間隔 */
.contents_spacing{
    letter-spacing: 1.5px 
}

.contents_font_size tr,
/* コンテンツのフォントサイズ */
.contents_font_size{
    font-size : 17px
}

/* 文字表示位置 */
.character_padding{
    padding-left: 5px;
}

/* 入力項目 高さ */
.contents_input_height{
    height: 30px;    
}

/* 入力部 建物 幅 */
.contents_input_str_width{
    width: 180px
}

/* 入力部 建物名 幅 */
.contents_input_str_name_width{
    width: 240px
}

/* 入力部 グループ 幅 */
.contents_input_group_width{
    width: 180px
}

/* 入力部 都道府県 建物 幅 */
.contents_input_pref_str_width{
    width: 120px
}

/* 入力部 入居形態 幅 */
.contents_input_move-in_width{
    width: 100px
}

/* 入力部 細分類 幅 */
.contents_input_kind_width{
    width: 280px
}


/* コンテンツ 隙間 幅 */
.contents_margin_obj{
   margin-right: 10px
}

/* コンテンツ テーブル  */
.contents_table_tr_height{
    height: 40px
}

/* ボタン 角丸 */
.button_radius {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/* ボタンの境界線 */
.button_border{
    border: none;
}

/* 命令ボタン 色　*/
.command_button_color{
    color: white;
    background-color: #191970;
}

/* 命令ボタン 高さ */
.command_button_height{
    height: 40px;   
}

/* 命令ボタン 幅　*/
.command_button_width{
    width: 200px
}

/* 入力担当者検索 枠線 */
.search_outline{
    border: 1px solid #000;
    padding: 5px
}

/* 検索結果の文字色 */
.result_color{
    color: #ffffff;
}

/* 検索結果の高さ */
.result_height tr{
    height:30px;
}

/* 検索結果の余白 */
.result_padding tr td{
    padding-left: 15px;
    padding-right: 15px
}

/* 検索結果の境界線 */
.result_title_border{
    border-collapse: collapse;
    border: 1px #D1D1D1 solid;
}

/* 検索結果のタイトル背景色 */
.result_title_bg_color{
    background-color: #191970
}

/* セットボタン 色 */
.set_button_color{
    color: #222222;
    background: #CCCCCC;
}

/* セットボタン 高さ */
.set_button_height{
    height: 25px;   
}

/* セットボタン 幅　*/
.set_button_width{
    width: 80px
}

/* 検索結果の文字位置 */
.result_text-align td{
    text-align: center
}