.contents_form_area {
    margin-top: 0;
    margin-bottom: 10px;
}

.contents_form_area .msg {
    margin-bottom: 10px;
}

.contents_form_area .conditions {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.contents_form_area .conditions label {
    display: inline-block;
    text-align: right;
    width: 125px;
    padding: 0 10px;
}

.contents_form_area .conditions select.SEL1 {
    width: 500px;
}

.contents_form_area .conditions select.SEL2 {
    width: 50px;
}

.contents_form_area .conditions select.SEL3 {
    width: 80px;
}

.contents_form_area .conditions select.SEL4 {
    width: 42px;
}

.contents_form_area .conditions span.disp {
    background-color: #DDD;
    padding: 5px 15px;
}

.contents_form_area .conditions .cond1,
.contents_form_area .conditions .cond2,
.contents_form_area .conditions .cond3,
.contents_form_area .conditions .cond4 {
    margin: 3px 10px;
    padding: 10px 10px;
    align-items: center;
    border-radius: 5px;
}

.contents_form_area .conditions .cond1 {
    width: 100%;
    background-color: #EEE;
    height: 60px;
}

.contents_form_area .conditions .cond2 {
    background-color: #2dc12d;
}

.contents_form_area .conditions .cond3 {
    background-color: #ffcf0f;
}

.contents_form_area .conditions .cond4 {
    background-color: #EEE;
    width: 100%;
}

.contents_form_area .conditions .cond2, .contents_form_area .conditions .cond3 {
    display: flex;
}

.contents_form_area .conditions .cond2 label, .contents_form_area .conditions .cond3 label {
    color: #FFF;
    margin-right: 10px;
}

.contents_form_area .conditions .cond2 div, .contents_form_area .conditions .cond3 div {
    position: relative;
}

.contents_form_area .conditions .cond2 div img.calendar_move_img,
.contents_form_area .conditions .cond3 div img.calendar_move_img {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
}

.contents_form_area .conditions .cond2 div input[type='button'],
.contents_form_area .conditions .cond3 div input[type='button'] {
    height: 24px;
    width: 24px;
}

.conditions_2 {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

table {
    border-collapse: collapse;
}

/* カレンダー表 */
table.calendar_table1 .col_button_move {
    width: 55px;
}
table.calendar_table1 .calendar_move_button {
    width: 55px;
    height: 28px;
}
table.calendar_table1 .calendar_table_back .calendar_move_button {
    padding-left: 22px;
}
table.calendar_table1 .calendar_table_next .calendar_move_button {
    padding-left: 0px;
}
table.calendar_table1 .calendar_move_img {
    position: absolute;
    pointer-events: none;
    margin-top: 2px;
}

table.calendar_table1 .calendar_table_next .calendar_move_img {
    margin-left: -19px;
}

table.calendar_table1 > tbody > tr > td {
    border: 1px #CCC solid;
    width: 20px;
    height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 10pt;
    padding: 0;
}
table.calendar_table1 > td > a{
    display: block;
    color: #000;
    font-weight: normal;
    font-size: 10pt;
    width: 100%;
    height: 100%;
    padding-top: 8px;
}

table.calendar_table1 td.td_calendar_day > a {
    cursor: pointer;
    font-weight: normal;
    font-size: 10pt;
}

table.calendar_table1 td.td_calendar_day > a.Sunday {
    color: #FF0000;
}
table.calendar_table1 td.td_calendar_day > a.Saturday {
    color: #0000FF;
}
table.calendar_table1 td.td_calendar_day.td_targetday {
    background-color: #265CB7;
}
table.calendar_table1 td.td_calendar_day.td_targetday > a {
    color: #FFFFFF;
}

table.calendar_table1 > tbody > tr > td {
    border: 1px #CCC solid;
    width: 22px;
    height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 10pt;
    padding: 0;
}

table.calendar_table1 > tbody > tr > th {
    border: 1px #CCC solid;
    color: white;
    font-size: 10pt;
    background: -webkit-gradient(
                linear, left top, left bottom,
                from(#2dda46),
                color-stop(0.25, #2dc12d),
                to(#2d602d));
    background: -moz-linear-gradient(top,#2dda46 0%,#2dc12d 25%,#2d602d);
    background: -ms-linear-gradient(top,#2dda46 0%,#2dc12d 25%,#2d602d);
}

table.calendar_table2 .col_button_move {
    width: 55px;
}
table.calendar_table2 .calendar_move_button {
    width: 55px;
    height: 28px;
}
table.calendar_table2 .calendar_table_back .calendar_move_button {
    padding-left: 22px;
}
table.calendar_table2 .calendar_table_next .calendar_move_button {
    padding-left: 0px;
}
table.calendar_table2 .calendar_move_img {
    position: absolute;
    pointer-events: none;
    margin-top: 2px;
}

table.calendar_table2 .calendar_table_next .calendar_move_img {
    margin-left: -19px;
}

table.calendar_table2 > tbody > tr > td {
    border: 1px #CCC solid;
    width: 20px;
    height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 10pt;
    padding: 0;
}
table.calendar_table2 > td > a{
    display: block;
    color: #000;
    font-weight: normal;
    font-size: 10pt;
    width: 100%;
    height: 100%;
    padding-top: 8px;
}

table.calendar_table2 td.td_calendar_day > a {
    cursor: pointer;
    font-weight: normal;
    font-size: 10pt;
}

table.calendar_table2 td.td_calendar_day > a.Sunday {
    color: #FF0000;
}
table.calendar_table2 td.td_calendar_day > a.Saturday {
    color: #0000FF;
}
table.calendar_table2 td.td_calendar_day.td_targetday {
    background-color: #265CB7;
}
table.calendar_table2 td.td_calendar_day.td_targetday > a {
    color: #FFFFFF;
}

table.calendar_table2 > tbody > tr > td {
    border: 1px #CCC solid;
    width: 22px;
    height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 10pt;
    padding: 0;
}

table.calendar_table2 > tbody > tr > th {
    border: 1px #CCC solid;
    color: white;
    font-size: 10pt;
    background: -webkit-gradient(
                linear, left top, left bottom,
                from(#ffe828),
                color-stop(0.25, #ffcf0f),
                to(#b5820f));
    background: -moz-linear-gradient(top,#ffe828 0%,#ffcf0f 25%,#b5820f);
    background: -ms-linear-gradient(top,#ffe828 0%,#ffcf0f 25%,#b5820f);
}

.calendar_table_ym .rf-cal {
    margin-left: 5px;
}

.calendar_table_y {
    width: 250px;
}

.col_button_move input {
    height: 30px;
}

.td_calendar_day {
    cursor: pointer;
}
.td_calendar_day.sat {
    color: blue;
}

.td_calendar_day.sun {
    color: red;
}

.td_calendar_day.cur {
    color: #FFF;
    background-color: rgb(0, 79, 141);
}

.contents_table {
    margin-left: 0px;
}

.contents_table table tr th, .contents_table table tr td {
    border: 1px solid #C4C0C9;
    padding: 2px 15px;
}

.contents_table table tr th {
    color: #FFF;
    background-color: rgb(0, 79, 141);
}

.contents_table table tr:nth-child(2n-1) {
    background-color: rgb(200, 233, 255);
}

.contents_table table tr td {
    width: 50px;
    text-align: right;
    padding-right: 3px;
}

.button_search {
    margin: auto;
}

.button_search, .button_print1, .button_print2 {
    width: 120px;
}

.button_search .button_icon {
    position: absolute;
    top: 1px;
    left: 3px;
}

.button_disp {
    margin: auto;
    width: 120px;
}

.button_disp input[type='button'] {
    padding: 0 60px;
}

.button_disp .button_icon {
    position: absolute;
    top: 9px;
    left: 8px;
}

.button_print1 .button_icon, .button_print2 .button_icon {
    position: absolute;
    top: 6px;
    left: 10px;
}

.contents_header {
    position: relative;
    margin: 10px 55px 10px 80px;
}

.contents_header_tab span+span {
    margin-left: 5px;
}

.contents_header_tab span img {
    background-color: #7ff6fa;
    cursor: pointer;
}

.meter_type_label {
    position: relative;
    top: 15px;
}

.meter_type_div {
    position: relative;
    left: 140px;
    bottom: 8px;
    text-align: left;
}