.contents_form_area {
    margin-top: 0;
    margin-bottom: 10px;
}

.contents_form_area .msg {
    margin-bottom: 10px;
}

.contents_form_area .conditions {
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.contents_form_area .conditions label {
    display: inline-block;
    text-align: right;
    width: 125px;
    padding: 0 10px;
}

select.SEL1 {
    width: 500px;
}

select.SEL2 {
    width: 50px;
}

select.SEL3 {
    width: 80px;
}

select.SEL4 {
    width: 42px;
}

select.SEL5 {
    width: 60px;
}

.contents_form_area .conditions span.disp {
    background-color: #DDD;
    padding: 5px 15px;
}

.contents_form_area .conditions .cond2 div img.calendar_move_img,
.contents_form_area .conditions .cond3 div img.calendar_move_img {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 12px;
    height: 12px;
}

.contents_form_area .conditions .cond2 div input[type='button'],
.contents_form_area .conditions .cond3 div input[type='button'] {
    height: 24px;
    width: 24px;
}

table {
    border-collapse: collapse;
}

/* カレンダー表 */
table.calendar_table .col_button_move {
    width: 55px;
}
table.calendar_table .calendar_move_button {
    width: 55px;
    height: 28px;
}
table.calendar_table .calendar_table_back .calendar_move_button {
    padding-left: 22px;
}
table.calendar_table .calendar_table_next .calendar_move_button {
    padding-left: 0px;
}
table.calendar_table .calendar_move_img {
    position: absolute;
    pointer-events: none;
    margin-top: 2px;
}

table.calendar_table .calendar_table_next .calendar_move_img{
    margin-left: -19px;
}

table.calendar_table > tbody > tr > td {
    border: 1px #CCC solid;
    width: 20px;
    height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 10pt;
    padding: 0;
}
table.calendar_table > td > a{
    display: block;
    color: #000;
    font-weight: normal;
    font-size: 10pt;
    width: 100%;
    height: 100%;
    padding-top: 8px;
}

table.calendar_table td.td_calendar_day > a {
    cursor: pointer;
    font-weight: normal;
    font-size: 10pt;
}

table.calendar_table td.td_calendar_day > a.Sunday {
    color: #FF0000;
}
table.calendar_table td.td_calendar_day > a.Saturday {
    color: #0000FF;
}
table.calendar_table td.td_calendar_day.td_targetday {
    background-color: #265CB7;
}
table.calendar_table td.td_calendar_day.td_targetday > a {
    color: #FFFFFF;
}

.calendar_table_back {
    position: relative;
}

.calendar_table_next {
    position: relative;
}

.calendar_table_back>input {
    padding-left: 20px;
}

.calendar_table_next>input {
    padding-right: 20px;
}

.calendar_table_back  .calendar_move_img {
    left: 0;
}

.calendar_table_next .calendar_move_img {
    right: 0;
}

table.calendar_table > tbody > tr > td {
    border: 1px #CCC solid;
    width: 22px;
    height: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 10pt;
    padding: 0;
}

table.calendar_table > tbody > tr > th {
    border: 1px #CCC solid;
    color: white;
    font-size: 10pt;
    background: -webkit-gradient(
                linear, left top, left bottom,
                from(#00a5eb),
                color-stop(0.25, #008cd2),
                to(#265c8a));
    background: -moz-linear-gradient(top,#00a5eb 0%,#008cd2 25%,#265c8a);
    background: -ms-linear-gradient(top,#00a5eb 0%,#008cd2 25%,#265c8a);
}

.calendar_table_ym .rf-cal {
    margin-left: 5px;
}

.col_button_move input {
    height: 30px;
}

.td_calendar_day {
    cursor: pointer;
}
.td_calendar_day.sat {
    color: blue;
}

.td_calendar_day.sun {
    color: red;
}

.td_calendar_day.cur {
    color: #FFF;
    background-color: rgb(0, 79, 141);
}

.button_search {
    margin: auto;
}

.button_search, .button_print1, .button_print2 {
    width: 120px;
}

.button_search .button_icon {
    position: absolute;
    top: 9px;
    left: 9px;
}

.button_disp {
    margin: auto;
    width: 120px;
}

.button_disp input[type='button'] {
    padding: 0 60px;
}

.button_disp .button_icon {
    position: absolute;
    top: 1px;
    left: 3px;
}

/* ボタンの右寄せ */
.button_area_right {
    position: relative;
    top: 30px;
    left: 375px;
    display: flex;
    justify-content: flex-end;
}

/* ボタンエリア */
.button_area {
    margin-top: 20px;
}

.output_button_icon {
    position: relative;
    top: 4px;
    left: -118px;
    z-index: 10;
    pointer-events: none;
}

.contents_header {
    position: relative;
    margin: 10px 55px 10px 80px;
}

.contents_header .buttons {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 5px;
}

.contents_header .buttons .button {
    position: relative;
}

.contents_header .buttons .button+.button {
    margin-left: 5px;
}

.contents_header .buttons .button input[type='button'] {
    height: 70px;
    width: 90px;
    padding-top: 40px;
}

.contents_header .buttons .button_icon {
    position: absolute;
    top: 0;
    left: 10px;
}

.contents_header .buttons .button_icon_graph {
    position: absolute;
    width: 60px;
    left: 13px;
    top: 3px;
    height: 46px;
}

.contents_header_tab span+span {
    margin-left: 5px;
}

.contents_header_tab span img {
    background-color: #7ff6fa;
    cursor: pointer;
}

.button_print1, .button_print2 {
    position: absolute;
    top: 0;
    right: 0;
}

.button_print2 {
    top: 40px;
}