div.center_content {
  padding: 0px 0px 35px 0px;
  margin-bottom: 0;
}

/*タイトルエリア*/
.title_area {
  margin: 10px 0;
}

.menu_category {
  text-align: center;
  margin-bottom: 10px;
  width: 1024px;
}

.table_menu {
  display: inline-block;
  margin: 0px 30px;
  padding: 10px;
  width: 240px;
  background: rgba(255, 255, 255, 0.4);
  border: 4px solid #FFFFFF;
  padding: 10px;
  padding: 10px;
}

/* アイコンサイズ */
.icon_size {
  /*    width: 40px;
    height: 20px;*/

}

.icon_td {
  padding: 2px 10px 0 10px;
}

/*メニューボタン*/
.gradation_type_1 input[type="submit"] {
  width: 200px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 6px;
}

/* アナウンス 背景色 */
.announcement_background {
  background: white
}

/* アナウンス 文面折り返し */
.announcement_word-wrap {
  word-wrap: break-word
}

/* アナウンス 記事の間隔幅 */
.announcement_account_width {
  width: 40px
}

/* アナウンス スクロール */
.announcement_overflow {
  overflow-x: hidden;
  overflow-y: auto;
}
/*
 アナウンス サイズ */
.announcement_size {
  height: 210px;
  width: 470px;
}

/* アナウンス トピック サイズ */
.announcement_topic_size {
  overflow-y: scroll;
  height: 320px;
  width: 996px;
}

/* アナウンス 内容 フォント設定 */
.announcement_msg {
  font-size: 14px;
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,
    'ＭＳ Ｐゴシック',sans-serif;
}

/* アナウンス 境界線 */
.announcement_border {
  border: rgb(0, 79, 141) solid 4px;
}

/*アナウンス 案内 高さ */
/*.announcement_table_height,tr{
    height: 50px
}
*/

/*アナウンス 案内 区切り線 */
.announcement_border_horizontal_separator {
  border-collapse: collapse;
  border: 1px solid gray;
  border-right: none;
  border-left: none;
  border-top: none;
}

/* アナウンス 案内のテキスト */
.announcement_text {
    font-size: 14px;
    white-space: pre-wrap;
}

/* 文字間隔 */
.login_font, .pass_spacing {
  letter-spacing: 1.5px
}

.page_title {
  font-size: 18px;
}

.menu_title {
  font-size: 14px;
  font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', sans-serif;
}