<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">
    <description>大崎電気工業向け SMSシステム</description>
    <display-name>SMS</display-name>
    <context-param>
        <description>アプリケーション名</description>
        <param-name>APPLICATION_NAME</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <description>アプリケーションバージョン</description>
        <param-name>APPLICATION_VERSION</param-name>
        <param-value>1.4.5</param-value>
    </context-param>
    <context-param>
        <description>OEM名</description>
        <param-name>OEM_NAME</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <description>OEMバージョン</description>
        <param-name>OEM_VERSION</param-name>
        <param-value>1.0</param-value>
    </context-param>
    <context-param>
        <description>ブラウザチェック有無</description>
        <param-name>WEB_BROWSER_CHECK</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <description>ログインページ</description>
        <param-name>LOGIN_PAGE</param-name>
        <param-value>/login.xhtml?faces-redirect=true</param-value>
    </context-param>
    <context-param>
        <description>エラーページ</description>
        <param-name>ERROR_PAGE</param-name>
        <param-value>/f/html/error/exceptionError.xhtml</param-value>
    </context-param>
    <context-param>
        <description>セッションタイムアウトページ</description>
        <param-name>SESSION_TIMEOUT_ERROR_PAGE</param-name>
        <param-value>/f/html/error/sessionError.xhtml</param-value>
    </context-param>
    <context-param>
        <description>1ページ辺りの最大表示件数</description>
        <param-name>DEFAULT_PER_PAGE</param-name>
        <param-value>10</param-value>
    </context-param>
    <context-param>
        <description>1ページ辺りの最大表示件数(日報データ系画面)</description>
        <param-name>DEFAULT_PER_PAGE_DATA_VIEW_SERIES</param-name>
        <param-value>100</param-value>
    </context-param>
    <context-param>
        <description>1ページ辺りの最大表示件数(検針データ画面)</description>
        <param-name>PARAM_NAME_PAGE_DATA_COUNT_METER_READING</param-name>
        <param-value>512</param-value>
    </context-param>
    <context-param>
        <description>CSV出力先ディレクトリ</description>
        <param-name>CSV_OUTPUT_DIR</param-name>
        <param-value>/home/wildfly/osol/tempfile</param-value>
    </context-param>
    <context-param>
        <description>PDF出力先ディレクトリ</description>
        <param-name>PDF_OUTPUT_DIR</param-name>
        <param-value>/home/wildfly/osol/tempfile</param-value>
    </context-param>
    <context-param>
        <description>テンプレートファイルディレクトリ</description>
        <param-name>TEMPLATE_DIR</param-name>
        <param-value>/home/wildfly/osol/template</param-value>
    </context-param>
    <context-param>
        <description>PDFテンプレートファイルディレクトリ</description>
        <param-name>PDF_TEMPLATE_DIR</param-name>
        <param-value>/home/wildfly/osol/template</param-value>
    </context-param>
    <context-param>
        <description>メーターテナント一括登録アップロードディレクトリ</description>
        <param-name>METER_TENANT_BULK_FILE_UPLOAD_TEMP_DIR</param-name>
        <param-value>/home/wildfly/osol/AttachmentTemp/MeterTenantManagement</param-value>
    </context-param>
        <context-param>
        <description>メーター一括登録アップロードディレクトリ</description>
        <param-name>METER_BULK_FILE_UPLOAD_TEMP_DIR</param-name>
        <param-value>/home/wildfly/osol/AttachmentTemp/MeterManagement</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>false</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>Richfacesの有効化</description>
        <param-name>org.richfaces.push.jms.enabled</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <description>キャッシュの保存時間(ミリ秒)</description>
        <param-name>com.sun.faces.defaultResourceMaxAge</param-name>
        <param-value>1000</param-value>
    </context-param>
    <context-param>
        <description>ログインパスワード利用期限</description>
        <param-name>LOGIN_PASS_EXPIRED_DAYS</param-name>
        <param-value>90</param-value>
    </context-param>
    <filter>
        <description>リクエストログフィルタ</description>
        <filter-name>BaseRequestLogFilter</filter-name>
        <filter-class>jp.skygroup.enl.webap.base.filter.BaseRequestLogFilter</filter-class>
        <init-param>
            <description>RequestHeaderの出力有無(true:出力 false:未出力)</description>
            <param-name>outputRequestHeader</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <description>QueryStringの出力有無(true:出力 false:未出力)</description>
            <param-name>outputQueryString</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <description>SessionKeyの出力有無(true:出力 false:未出力)</description>
            <param-name>outputSessionKey</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <description>出力するSessionKeyのリスト</description>
            <param-name>outputSessionKeyList</param-name>
            <param-value>LOGIN_USER_CORP_ID,LOGIN_USER_PERSON_ID</param-value>
        </init-param>
        <init-param>
            <description>RequestParameterの出力有無(true:出力 false:未出力)</description>
            <param-name>outputParameter</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <description>値をマスキングするRequestParameterのリスト(fromタグのid + javax.faces.SEPARATOR_CHAR + inputタグのid)のリスト形式</description>
            <param-name>maskingParameterList</param-name>
            <param-value>loginBean:password,loginEditPasswordBean:newPassword,loginEditPasswordBean:confirmPassword</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>BaseRequestLogFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <display-name>XHTMLセキュリティフィルタ</display-name>
        <filter-name>BaseXhtmlSecurityFilter</filter-name>
        <filter-class>jp.skygroup.enl.webap.base.filter.BaseXhtmlSecurityFilter</filter-class>
        <init-param>
            <description>Faces Servlet Url-Pattern</description>
            <param-name>facesServletUrlPattern</param-name>
            <param-value>/f</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>BaseXhtmlSecurityFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <!--
    <filter>
        <display-name>リクエストトークンフィルタ</display-name>
        <filter-name>BaseRequestTokenFilter</filter-name>
        <filter-class>jp.skygroup.enl.webap.base.filter.BaseRequestTokenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BaseRequestTokenFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    -->
    <filter>
        <description>セッションチェックフィルタ</description>
        <filter-name>SessionCheckFilter</filter-name>
        <filter-class>jp.co.osaki.sms.filter.SessionCheckFilter</filter-class>
        <init-param>
            <description>セッションチェック対象外ページリスト</description>
            <param-name>noCheckPageList</param-name>
            <param-value>login.xhtml,sessionError.xhtml,personUpdateError.xhtml,exceptionError.xhtml,notFoundError.xhtml,notSupport.xhtml,accessDisallowedError.xhtml</param-value>
        </init-param>
        <init-param>
            <description>セッションチェックNGの場合のリダイレクトページ</description>
            <param-name>redirectPage</param-name>
            <param-value>/html/error/sessionError.xhtml</param-value>
        </init-param>
        <init-param>
            <description>Faces Servlet Url-Pattern</description>
            <param-name>facesServletUrlPattern</param-name>
            <param-value>/f</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>SessionCheckFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <description>認証チェックフィルタ</description>
        <filter-name>BaseRequestAuthCheckFilter</filter-name>
        <filter-class>jp.skygroup.enl.webap.base.filter.BaseRequestAuthCheckFilter</filter-class>
        <init-param>
            <description>認証チェック対象外ページリスト</description>
            <param-name>noCheckPageList</param-name>
            <param-value>login.xhtml,sessionError.xhtml,personUpdateError.xhtml,exceptionError.xhtml,notFoundError.xhtml,notSupport.xhtml,accessDisallowedError.xhtml</param-value>
        </init-param>
        <init-param>
            <description>認証チェックNGの場合のリダイレクトページ</description>
            <param-name>redirectPage</param-name>
            <param-value>/html/login/login.xhtml</param-value>
        </init-param>
        <init-param>
            <description>Faces Servlet Url-Pattern</description>
            <param-name>facesServletUrlPattern</param-name>
            <param-value>/f</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>BaseRequestAuthCheckFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <description>正式パスワードチェックフィルター</description>
        <filter-name>OfficialPasswordCheckFilter</filter-name>
        <filter-class>jp.co.osaki.sms.filter.OfficialPasswordCheckFilter</filter-class>
        <init-param>
            <description>正式パスワードチェック対象外ページリスト</description>
            <param-name>noCheckPageList</param-name>
            <param-value>login.xhtml,sessionError.xhtml,editPassword.xhtml,personUpdateError.xhtml,exceptionError.xhtml,notFoundError.xhtml,notSupport.xhtml,accessDisallowedError.xhtml</param-value>
        </init-param>
        <init-param>
            <description>正式パスワードチェックNGの場合のリダイレクトページ</description>
            <param-name>redirectPage</param-name>
            <param-value>/html/login/login.xhtml</param-value>
        </init-param>
        <init-param>
            <description>Faces Servlet Url-Pattern</description>
            <param-name>facesServletUrlPattern</param-name>
            <param-value>/f</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>OfficialPasswordCheckFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <description>仮パスワードチェックフィルター</description>
        <filter-name>TempPasswordCheckFilter</filter-name>
        <filter-class>jp.co.osaki.sms.filter.TempPasswordCheckFilter</filter-class>
        <init-param>
            <description>仮パスワードチェック対象ページリスト</description>
            <param-name>checkPageList</param-name>
            <param-value>editPassword.xhtml</param-value>
        </init-param>
        <init-param>
            <description>仮パスワードチェックNGの場合のリダイレクトページ</description>
            <param-name>redirectPage</param-name>
            <param-value>/html/login/login.xhtml</param-value>
        </init-param>
        <init-param>
            <description>Faces Servlet Url-Pattern</description>
            <param-name>facesServletUrlPattern</param-name>
            <param-value>/f</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>TempPasswordCheckFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <description>担当者の最終権限更新日時、最終ログイン日時の更新チェックフィルタ</description>
        <filter-name>PersonUpdateCheckFilter</filter-name>
        <filter-class>jp.co.osaki.sms.filter.PersonUpdateCheckFilter</filter-class>
        <init-param>
            <description>更新チェック対象外のページリスト</description>
            <param-name>noCheckPageList</param-name>
            <param-value>login.xhtml,sessionError.xhtml,personUpdateError.xhtml,exceptionError.xhtml,notFoundError.xhtml,notSupport.xhtml,accessDisallowedError.xhtml</param-value>
        </init-param>
        <init-param>
            <description>更新チェックNGの場合のリダイレクトページ</description>
            <param-name>redirectPage</param-name>
            <param-value>/html/error/personUpdateError.xhtml</param-value>
        </init-param>
        <init-param>
            <description>Faces Servlet Url-Pattern</description>
            <param-name>facesServletUrlPattern</param-name>
            <param-value>/f</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>PersonUpdateCheckFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <description>ログイン許可IPアドレスチェックフィルタ</description>
        <filter-name>LoginIpAddrCheckFilter</filter-name>
        <filter-class>jp.co.osaki.sms.filter.LoginIpAddrCheckFilter</filter-class>
        <init-param>
            <description>チェック対象外のページリスト</description>
            <param-name>noCheckPageList</param-name>
            <param-value>login.xhtml,sessionError.xhtml,personUpdateError.xhtml,exceptionError.xhtml,notFoundError.xhtml,notSupport.xhtml,accessDisallowedError.xhtml</param-value>
        </init-param>
        <init-param>
            <description>チェックNGの場合のリダイレクトページ</description>
            <param-name>redirectPage</param-name>
            <param-value>/html/error/accessDisallowedError.xhtml</param-value>
        </init-param>
        <init-param>
            <description>Faces Servlet Url-Pattern</description>
            <param-name>facesServletUrlPattern</param-name>
            <param-value>/f</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>LoginIpAddrCheckFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <description>権限チェックフィルタ</description>
        <filter-name>AuthCheckFilter</filter-name>
        <filter-class>jp.co.osaki.sms.filter.AuthCheckFilter</filter-class>
        <init-param>
            <description>チェック対象外のページリスト</description>
            <param-name>noCheckPageList</param-name>
            <param-value>login.xhtml,sessionError.xhtml,personUpdateError.xhtml,exceptionError.xhtml,notFoundError.xhtml,notSupport.xhtml,accessDisallowedError.xhtml</param-value>
        </init-param>
        <init-param>
            <description>チェックNGの場合のリダイレクトページ</description>
            <param-name>redirectPage</param-name>
            <param-value>/html/error/notFoundError.xhtml</param-value>
        </init-param>
        <init-param>
            <description>Faces Servlet Url-Pattern</description>
            <param-name>facesServletUrlPattern</param-name>
            <param-value>/f</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>AuthCheckFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <description>レスポンスキャッシュ無効フィルタ</description>
        <filter-name>BaseResponseNoCacheFilter</filter-name>
        <filter-class>jp.skygroup.enl.webap.base.filter.BaseResponseNoCacheFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>BaseResponseNoCacheFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <filter>
        <description>クリックジャキング攻撃対策フィルタ</description>
        <filter-name>XFrameOptionsFilter</filter-name>
        <filter-class>jp.skygroup.enl.webap.base.filter.BaseXFrameOptionsFilter</filter-class>
        <init-param>
            <description>X-Frame-Options Setting Value</description>
            <param-name>X-Frame-Options</param-name>
            <param-value>SAMEORIGIN</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>XFrameOptionsFilter</filter-name>
        <url-pattern>*.xhtml</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/f/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>120</session-timeout>
        <cookie-config>
            <name>JSESSIONID</name>
            <http-only>true</http-only>
            <secure>true</secure>
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/f/html/error/exceptionError.xhtml</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/f/html/error/notFoundError.xhtml</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/f/html/error/exceptionError.xhtml</location>
    </error-page>
    <!-- ほかのHTTPエラーも記述する予定 -->
    <mime-mapping>
        <extension>pdf</extension>
        <mime-type>application/pdf</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xml</extension>
        <mime-type>application/xml</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsm</extension>
        <mime-type>application/vnd.ms-excel.sheet.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xltx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.spreadsheetml.template</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xltm</extension>
        <mime-type>application/vnd.ms-excel.template.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlsb</extension>
        <mime-type>application/vnd.ms-excel.sheet.binary.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlam</extension>
        <mime-type>application/vnd.ms-excel.addin.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xla</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlc</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlm</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xls</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlt</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>xlw</extension>
        <mime-type>application/vnd.ms-excel</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>wiz</extension>
        <mime-type>application/msword</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>rtf</extension>
        <mime-type>application/msword</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>doc</extension>
        <mime-type>application/msword</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>docm</extension>
        <mime-type>application/vnd.ms-word.document.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>dot</extension>
        <mime-type>application/msword</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>docx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.word</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>dotm</extension>
        <mime-type>application/vnd.ms-word.document.macroEnabled.12</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>dotx</extension>
        <mime-type>application/vnd.openxmlformats-officedocument.word</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jpeg</extension>
        <mime-type>image/jpeg</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>jpg</extension>
        <mime-type>image/jpeg</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>png</extension>
        <mime-type>image/png</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>tiff</extension>
        <mime-type>image/tiff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>csv</extension>
        <mime-type>text/csv</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>/f/html/login/login.xhtml</welcome-file>
    </welcome-file-list>
</web-app>
