/* --- 一覧画面 --- */

.search_result_area table {
    border-collapse: collapse;
}
/*検索結果のtbodyのスタイル*/
.search_result_area tbody tr{
}
.search_result_area .button_building_edit{
    position: relative;
    margin-left: 7px;
    margin-top: 1.5px;
    width: 36px;
}

/*編集のアイコン*/
.search_result_area .button_edit{
    position:absolute;
    margin-left: -26px;
    margin-top: 10.5px;
    z-index:10;
    pointer-events: none;
}

.table_header {
    background-color: rgba(5, 114, 205, 1);
    color: white;
    font-weight: normal;
}

/* 装置ID (幅:95px) */
.column_style_checkbox {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width:  6%;
}
/* メーター管理番号 (幅:200px) */
.column_style_meterMngId {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  10%;
}
/* ユーザーコード (幅:99px) */
.column_style_userCode {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  10%;
}
/* 建物・テナント番号/建物・テナント名 (幅:283px) */
.column_style_tenant {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  26%;
}
/* メーター種別 (幅:185px) */
.column_style_meterTypeName {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  12%;
}
/* 最新検針値 (幅:188px) */
.column_style_latestInspVal {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: right;
    width:  12%;
}
/* 乗率 (幅:186px) */
.column_style_multi {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: right;
    width:  6%;
}
/* データ取得日時 (幅:280px) */
.column_style_latestInspDate {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  18%;
}
/* 検針値 および データ取得日時 の 未取得色 */
.noDataMsg {
    color: red;
}

/* --- 表示条件欄 --- */

.TXT008{
    width:200px;
    text-align: left;
    margin-bottom: 5px;
}
.bgcolor_gray{ /* 非編集項目ラベル用 */
    background-color: #f7f7f7;
    font-size: 14px;
}
.WIDTH_REQUIRED_TEXT {
    width:80px !important;
}
.WIDTH_REQUIRED_ICON {
    width:120px;
}
.inspectionMeterBef_link {
    color: #fff !important;
    text-decoration: underline !important;
    font-size: 12px;
}
.inspectionMeterBef_sel_std {
    width: 250px;
    height: 25px;
}
.inspectionMeterBef_txt_short {
    width: 80px;
    height: 25px;
}
.inspectionMeterBef_sel_short {
    width: 80px;
    height: 25px;
}
.contents_form_area table tr {
    height: 0px;
}
a.inspectionMeterBef_link {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.contents_form_area_row {
    display: table;
    font-weight: bold;
    width: calc(100% - 16px);
    margin-top: 5px;
    padding: 10px;
}
.bg_ccc {
    background-color: #eeeeee;
}
.contents_form_area_row > div {
    display: table-cell;
}
/* メーター管理番号 重複 */
.duplicate {
    font-weight: bold;
}

/* --- 確定登録画面 --- */
.contents_form_area {
    margin-top: 0;
    margin-bottom: 10px;
}

/* --- ボタン --- */

/* ボタンのセンタリング */
.button_area_center {
    text-align: center;
}
/* ボタンの右寄せ */
.button_area_right {
    text-align: right;
}
/* ボタン欄 */
.button_area {
    margin-top: 20px;
}
/* ボタン */
.action_button {
    height: 40px;
    width: 150px;
}
/* ボタンアイコン */
.button_area .button_icon {
    position: relative;
    top: 6px;
    left: -130px;
    z-index: 10;
    pointer-events: none;
}
