.search_result_area table {
    border-collapse: collapse;
}
.button_area_center {
    text-align: center;
}
.button_area_right {
    text-align: right;
}
.button_area {
    margin-top: 20px;
}
.action_button {
    height: 40px;
    width: 150px;
}
.button_area .reload_button_icon {
    position: relative;
    top: 6px;
    left: -135px;
    z-index: 10;
    pointer-events: none;
}
.button_area .dialog_exec_reserve_insp_button_icon {
    position: relative;
    top: 6px;
    left: -150px;
    z-index: 10;
    pointer-events: none;
}
.button_area .button_icon {
    position: relative;
    top: 6px;
    left: -135px;
    z-index: 10;
    pointer-events: none;
}
.delete_button .button_icon{
    position: absolute;
    top: 10px;
    left: 12px;
    text-align: right;
    pointer-events: none;
}
.table_header {
    background-color: rgba(5, 114, 205, 1);
    color: white;
    font-weight: normal;
}
a {
  font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.column_style_checkbox {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width:  5%;
}
.column_style_devName {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  12%;
}
.column_style_meterMngId {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: right;
    width:  8%;
}
.column_style_meterId {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  12%;
}
.column_style_meterTypeName {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  10%;
}

.column_style_userCd {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: right;
    width:  12%;
}

.column_style_buildingName {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  23%;
}

.column_style_reserveInspDate {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  18%;
}

.popup_msg {
    font-size: 17px;
}
