/* --- 一覧画面 --- */

.table_header {
    background-color: rgba(5, 114, 205, 1);
    color: white;
    font-weight: normal;
}
/* 名称カラムのスタイル (幅:172px) */
.column_style_meterTypeName {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  20%;
}
/* CO2排出係数カラムのスタイル (幅:219px) */
.column_style_co2Coefficient {
    white-space: nowrap;
    border: 1px #cccccc solid;
    width:  22%;
}
.col_num_a {
    display: inline-block;
    text-align: right;
    width: calc(50% - 10px);
    padding: 13px 10px 0px 0px;
}
.col_num_b {
    border-left: solid thin #ccc;
    display: inline-block;
    height: 34px;
    text-align: left;
    width: calc(50% - 10px);
    padding: 13px 0px 0px 10px;
}
/* 自動検針カラムのスタイル (幅:106px) */
.column_style_autoInsp {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  10%;
}
/* 単位カラムのスタイル (幅:118px) */
.column_style_unitUsageBased {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  11%;
}
/* メニューカラムのスタイル (幅:115px) */
.column_style_menuName {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  11%;
}
/* 従量範囲カラムのスタイル (幅:170px) */
.column_style_rangeValue {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  17%;
}
/* 編集ボタンカラムのスタイル (幅:112px) */
.column_style_button {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width:  8%;
}

/* --- 一覧画面・編集画面 --- */

.search_result_area table {
    border-collapse: collapse;
}
/*検索結果のtbodyのスタイル*/
.search_result_area tbody tr{
}
.search_result_area .button_building_edit{
    position: relative;
    margin-left: 7px;
    margin-top: 1.5px;
    width: 36px;
    /* text-align: center; */
}

/*編集のアイコン*/
.search_result_area .button_edit{
    position:absolute;
    margin-left: -26px;
    margin-top: 10.5px;
    z-index:10;
    pointer-events: none;
}

/* --- 編集画面 --- */

.TXT008{
    width:200px;
    text-align: left;
    margin-bottom: 5px;
}
.typeRange_txt_std {
    width: 250px;
    height: 25px;
}
.typeRange_txt_rangeValue {
    width: 150px;
    height: 25px;
    text-align: right;
}
.typeRange_sel_std {
    width: 250px;
    height: 25px;
}
.typeRange_sel_short {
    width: 80px;
    height: 25px;
}
.w_harf {
    width: 125px;
}

.contents_form_area table tr {
    height: 0px;
}
.contents_form_area_row {
    display: table;
}
.contents_form_area_row > div {
    display: table-cell;
}
.typeRange_range_list {
    border-spacing: 0px;
    margin-left: 35px;
    width: 350px;
}
/* 「従量範囲設定値」カラムのスタイル */
.typeRange_col_1 {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: center;
}
/* 「追加/削除」カラムのスタイル */
.typeRange_col_2 {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width: 80px;
}

/* ボタン欄 */
.button_area {
    text-align: center;
    margin-top: 20px;
}
/* ボタン */
.action_button {
    height: 40px;
    width: 150px;
}
/* ボタンアイコン */
.button_area .button_icon {
    position: relative;
    top: 6px;
    left: -120px;
    z-index: 10;
    pointer-events: none;
}
