/*ダウンロードボタン*/
.button_download{
    margin-top: 20px;
}
.button_download input[type="submit"]{
    width: 160px;
}

/*アップロードボタン*/
.button_upload{
    /*margin-top: 20px;*/
}
.button_upload input[type="submit"]{
    width: 160px;
}

.common_building_search_button_icon {
    position: absolute;
    margin-left: 3px;
    margin-top: 3px;
    pointer-events: none;
}

.dl_button_icon {
    position: absolute;
    margin-left: -150px;
    margin-top: 8px;
    pointer-events: none;
}
.folder_button_icon {
    position: absolute;
    margin-left: -90px;
    margin-top: 5px;
    pointer-events: none;
}

.ul_button_icon {
    position: absolute;
    margin-left: -150px;
    margin-top: 8px;
    pointer-events: none;
}

.reload_button_icon {
    position: absolute;
    margin-left: -115px;
    margin-top: 2px;
    pointer-events: none;
}

.rs_up_button_icon {
    position: absolute;
    margin-left: -27px;
    margin-top: 10px;
    pointer-events: none;
}

.rs_button_icon {
    position: absolute;
    margin-left: -27px;
    margin-top: 10px;
    pointer-events: none;
}

.search_result_area table {
    border-collapse: collapse;
}

.data_table {
  width: 5250px;
}

.contents_table {
  width: 100%;
  overflow-x: auto;
}

/* テーブル設定 */
.column_style_common {
    border: 1px #cccccc solid;
    padding: 0;
    text-align: left;
    width:  150px;
    height: 40px;
}

/* エラーセル */
.error_cell {
    display: flex;
    align-items: center;
    border: 0px;
    width: 100%;
    height: 100%;
    background-color: pink;
}

.nomal_cell {
    display: flex;
    align-items: center;
    border: 0px;
    height: 100%;
    width: 100%;
}

.rf-p-b {
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 12px;
    padding: 0px 10px 0px 10px;
}

.tooltip .rf-tt-cntr {
    border-color : pink;
}