
#smsCollectSettingMeterTenantEditBean .column_style1{
    /* display: inline-block; */
}
#smsCollectSettingMeterTenantEditBean .column_style2{
    width: auto;
}

#smsCollectSettingMeterTenantEditBean .column_style_userCode{
    display: inline-block;
}

.TXT008{
    width:155px;
}

.municipality_notes {
    position: absolute;
    margin-top: -3px;
    padding-left: 30px;
}

/* .TXT023{
    margin-left: 50px;
    color: black;
    font-size: 14px;
} */

.style_yyyymm {
    width: 90px;
}

/* 固定費入力ボックス */
.fixed_cost_name_input {
    width: 275px;
}

/* 固定費 金額ラベル＆テキストボックス */
.fixed_cost_price_block {
/*
    text-align: center;
    position: absolute;
    margin-left: -65px;
    margin-top: 4px;
 */
}

.fixed_cost_price_input {
    width: 145px;
    text-align: right;
}


.fixed_cost_price_input::placeholder {
    text-align: center;
}

/* 電気料金メニュー 詳細ボタン */
.price_menu_btn {
    display: inline-block;
    /* position: absolute; */
    margin-left: -170px;
    margin-top: 4px;
}

/* 詳細設定ボタン画像 */
.settingTypeButton_img {
    position: absolute;
    left: 7px;
    top: 7px;
    z-index: 320;
}

/* 詳細設定ボタン */
.settingTypeButton_btn{
    /* z-index: 500; */
}

.fixed_cost_name {
    padding-right: 10px;
}

.fixed_cost_price {
    padding-right: 10px;
}

/* グループ設定(%) panelGridレイアウト */
.grid_group_sub_title {
    vertical-align: top;
    padding-top: 10px;
}

.grid_group_rate {
    border: 1px #CCC solid;
    /* position: absolute;
    margin-top: -70px; */
}

.grid_group_rate_th {
    height: 30px !important;
    background-color: rgb(0,79,141);
    text-align: center;
    /* border: 1px #CCC solid; */
    font-size: 14px;
}

.grid_group_rate_td {
    height: 30px !important;
    /* font-size: 11px; */
    /* border: 1px #CCC solid; */
}

.grid_group_rate_txt {
    background-color: rgb(0,79,141);
    color: white;
    font-weight: bold;
}

.grid_group_rate_input {
    /* font-size: 11px !important; */
    width: 100px;
}

.grid_group_rate_column {
    width: 100px;
}

.button_area_center {
    margin: 20px 0;
    text-align: center;
}

.button_regist {
    width: 150px;
    /*height: 40px;*/
    font-size : 20px ;
    border: none;
}
/*  {
    width: 150px;
    height: 40px;
    font-size: 20px;
    border: none;
} */

.regist_beseinfo_img {
/*     position: absolute;
    left: 7px;
    top: 7px; */
    position: absolute;
    left: 388px;
    top: 9px;
}
.check_del_building {
    margin-left:20px;
}

.registr_meter_id_style {
    white-space: pre;
    resize: none;
    width:80%;
    height:inherit;
    font-size: 14px;
}

