.announcement_topic_size_popup{
    overflow-y: scroll;
    height: 140px;
    width: 740px;
}


.oshirasePopupTable{
    width: 100%;
    margin-top: 5px;
}

.showFlgColumn {
    text-align: left;
}

.viewFlgMessage {
    margin-right: 15px;
}

.oshiraseIcon {
    margin-left: 10px;
    margin-top: 8px;
}

.announcement_background_popup{
    background: white;
    display: block;
    padding:10px;
    margin-bottom:10px;
    font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size:14px;
}

.announcement_border_popup {
    border: rgb(0,79,141) solid 4px;
}

/* アナウンス 案内のテキスト */
.announcement_text {
    font-size: 14px;
    white-space: pre-wrap;
}