/* テーブル 記述位置調整 */
.login_table_margin {
  margin-left: 7%;
  margin-top: -18px;
}

/* テーブル 高さ */
.login_td_height {
  height: 50px;
}

.login_font_td {
  width: 150px;
}

/* ログインボタン 高さ */
.login_btn_td_height {
  height: 80px;
}

.input_box_height {
  height: 30px;
}

.input_box_width, /* 入力テキスト 幅*/ .command_button_width /* 命令ボタン 幅　*/ {
  width: 280px
}

.login_font {
  font-size: 18px
}

.login_color {
  color: white
}

/* 命令ボタン 高さ */
.command_button_height {
  height: 60px;
}

/* 境界線設定　*/
.button_border {
  border: none
}

/* 命令ボタン 色　*/
.command_button_color {
  color: white;
  background-color: #191970;
}

/* ボタンのフォントサイズ */
.button_font_size {
  font-size: 17px
}

/* ボタン 角丸 */
.button_radius {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* 文字間隔 */
.login_font, .pass_spacing {
  letter-spacing: 1.5px
}

/*ロゴ表示範囲*/
.top_logo_area {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  height: 200px;
  padding-top: 100px;
  z-index: 40;
}

/*バージョン情報表示場所*/
#version_info_area {
  position: absolute;
  top: 20px;
  right: 40px;
  z-index: 41;
  color: #FFF;
}

/*ロゴ*/
#top_logo {
  text-align: center;
}

div.inner_content {
  min-height: 220px;
}

.editPW_table_margin {
  margin-left: 22%;
}

.login_button_area {
  margin-left: 10px;
}

/*ログイン画面のログインボタン*/
.login_button_area input[type=submit] {
  margin-left: 23px;
  margin-top: 14px;
  border: 0px;
  width: 67px;
  height: 68px;
  background: url("#{resource['images/login/login_login001.png']}") left
    top no-repeat;
  cursor: pointer;
}

/*パスワード変更画面のログインボタン*/
.editPW_button_area {
  margin-top: 20px;
  text-align: center;
}

.editPW_button_area input[type=submit] {

}

/*パスワード変更画面タイトル*/
.page_title {
  font-size: 22px;
  font-weight: bold;
  margin-left: 0px;
}

.editPW_area {
  margin: 30px auto;
  width: 800px;
  background: #FFFFFF;
  padding: 20px;
}

div.center_content {
  padding: 0px 0px 35px 0px
}

/* メインメニュー テーブル 背景色 幅 */
/*div.menu_category table {
    background: rgb(189,230,255);
    margin: 10px 0px 10px 0px;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}*/

/*タイトルエリア*/
.title_area {
  margin: 10px 0;
}

div.menu_category {
  margin-bottom: 10px;
  width: 1024px;
  height: 300px;
}
/*エネルギー管理、設備管理、集計・報告のエリア*/
div.menu_category .table_menu_1 {
  float: left;
  padding: 10px;
  width: 600px;
  background: rgba(255, 255, 255, 0.4);
  border: 4px solid #FFFFFF;
}

/*基本情報のエリア*/
div.menu_category .table_menu_2 {
  float: right;
  padding: 10px;
  width: 408px;
  background: rgba(255, 255, 255, 0.7);
  border: 4px solid #FFFFFF;
}

/* メインメニュー テーブル 高さ */
div.menu_category table tr {
  height: 55px
}

/* メインメニュー 以下の項目 幅 */
div.menu_category table tr th {
  width: 200px;
  text-align: center;
}

/* メインメニュー 各ボタンを表示するテーブル 幅 */
div.menu_category table tr td {
  width: 260px;
  text-align: center;
}

/* メインメニュー 以下の項目 フォントサイズ */
span.category_title, /* メインメニュー 各ボタンを表示するテーブル フォントサイズ */ div.menu_category table tr td input
  {
  font-size: 16px;
}

/* メインメニュー 以下の項目 フォント 色 */
span.category_title {
  color: rgb(65, 105, 154);
  margin-left: 10px
}

div.scroll_view {
  overflow: scroll;
  width: 300px;
  height: 150px;
  background-color: #F6F6F6;
}

/* 文字間隔 */
.index_spacing {
  letter-spacing: 1.5px
}

/* ボタン 角丸 */
div.menu_category table, .button_radius {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}

/* 命令ボタン 色　*/
.command_button_color {
  color: white;
  background-color: #191970;
}

/* 命令ボタン 高さ */
.command_button_height {
  height: 45px;
}

/* 命令ボタン 幅 */
.command_button_width {
  width: 180px;
}

/* 命令ボタン フォント */
.command_button_font {
  font-weight: bold;
}

/* 境界線設定　*/
.button_border {
  border: none
}

/* アイコンサイズ */
.icon_size {
  width: 40px;
  height: 20px;
}

/*メニューボタン*/
.menu_button {
  width: 180px;
}

.editPW_button_area .button_icon {
  position: absolute;
  top: 8px;
  left: 362px;
}

.login_font_td {
  width: 168px;
}