.center_content table {
  border-collapse: collapse;
}

/* ボタン */
.action_button {
  height: 40px;
  width: 150px;
}

/*新規登録ボタン*/
.new_regist_button {
  width: 150px;
  float: right;
  margin-top: 20px;
}

.new_regist_button input[type="submit"] {
  float: right;
}

.small_action_button {
  height: 20px;
  width: 50px;
  margin: 3px 3px 3px 3px;
}

.condition_del_button {
  height: 20px;
  width: 80px;
  margin: 2px 2px 2px 2px;
}

/* ボタンのセンタリング */
.button_area_center {
  margin: 20px 0;
  text-align: center;
}

.contents_table {
  width: 100%;
}

.data_table {
  width: 1750px;
}

/* 検索結果カラム */
.column_style_id {
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
  margin: 2px;
}

.column_style_name {
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
  margin: 2px;
}

.column_style_ipAddr {
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
  margin: 2px;
}

.column_style_memo {
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
  margin: 2px;
}

.column_style_homeDirectory {
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
  margin: 2px;
}

.column_style_examNoticeMonth {
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
  margin: 2px;
}

.column_style_alertDisableFlg {
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
  margin: 2px;
}

.column_style_revFlg {
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
}

.column_style_commInterval {
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
  margin: 2px;
}

.column_style_status {
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
  margin: 2px;
}

.column_style_edit {
  position: relative;
  border-bottom: 1px #CCC solid;
  border-right: 1px #CCC solid;
  padding: 10px;
  margin: 2px;
  text-align: center;
  margin: 2px;
}

.rf-tab-cnt {
  background: rgb(222, 231, 239);
  padding: 0 30px 0 30px;
}

/*検索開始ボタンアイコン*/
.button_search .button_icon {
  position: absolute;
  top: 8px;
  left: 413px;
  z-index: 10;
  pointer-events: none;
}

/*新規登録ボタン*/
.new_regist_button .button_icon {
  position: absolute;
  top: 10px;
  right: 100px;
  z-index: 10;
  pointer-events: none;
}

/*検索結果のtbodyのスタイル*/
.search_result_area .rf-edt-hdr tbody tr {
  height: 25px;
}

/* 各表示項目の高さ指定 */
.search_result_area .dev_list .rf-edt-c {
    border-style: none;
    height:100%
}

/* 各表示項目のフォント指定 */
.rf-edt-c-cnt {
    font-size:12px;
    font-family :'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    white-space: normal;
}

/* ヘッダーのスタイル */
.column_header {
    color: white;
    background-color: rgb(0,79,141);
    font-size:12px;
    font-weight: bold;
    font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

/* フッターの空行の高さを0に設定 */
.rf-edt-ftr-c-emp {
    height:0px;
}

/* リストのフッターのボーダーを削除 */
.rf-edt-ftr {
    border:initial;
}

/* リストのフッターの高さと背景色を設定 */
.search_result_area .rf-edt-ftr tbody tr {
    height:0;
    background-color: #cccccc;
}

/* リストの偶数行を水色に設定 */
.search_result_area tbody tr:nth-child(2n-1) table.rf-edt-tbl tbody tr:nth-child(2n) {
    background-color: rgb(200,233,255);
}

/*編集のボタン*/
.search_result_area .button_building_edit {
  position: relative;
  width: 36px;
}

/*編集のアイコン*/
.search_result_area .button_edit_image {
  position: absolute;
  margin-left: -26px;
  margin-top: 10.5px;
  z-index: 10;
  pointer-events: none;
}

.TXT008 {
  width: 140px;
}

.TXT020 {
  width: 140px;
}

.EDIT002 {
  width: 80%;
}

.SELECT001 {
  width: 180px;
}

