#foreach ($record in $recordList)
#set ($pattern = "$record.corpName、$record.buildingName、$record.devName、$record.meterTypeName、管理番号：$record.meterMngId、計器ID：$record.meterId、テナント名：$record.tenantName")
$pattern
#end

大崎電気工業株式会社
