/* --- 一覧画面 --- */

.search_result_area table {
    border-collapse: collapse;
}
/*検索結果のtbodyのスタイル*/
.search_result_area tbody tr{
}
.search_result_area .button_building_edit{
    position: relative;
    margin-top: 1.5px;
    width: 36px;
    /* text-align: center; */
}

/*編集のアイコン*/
.search_result_area .button_edit{
    position:absolute;
    margin-left: -26px;
    margin-top: 10.5px;
    z-index:10;
    pointer-events: none;
}

.table_header {
    background-color: rgba(5, 114, 205, 1);
    color: white;
    font-weight: normal;
}

/* チェックボックス */
.column_style_checkbox {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width:  6%;
}

/* 管理番号 */
.column_style_mngId {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width:  10%;
}
/* 中継装置ID */
.column_style_relay_id {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width:  31%;
}
/* 操作状態 */
.column_style_controlStatus {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width:  15%;
}
/* コメント */
.column_style_comment {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: left;
    width:  30%;
}

/* 編集ボタン */
.column_style_button {
    border: 1px #cccccc solid;
    padding: 0px 10px 0px 10px;
    text-align: center;
    width:  8%;
}

/* --- 表示条件欄 --- */

.inspectionMeterBefList_sel_std {
    width: 250px;
    height: 25px;
}
.contents_form_area table tr {
    height: 0px;
}
.contents_form_area_row {
    display: table;
    font-weight: bold;
    width: calc(100% - 16px);
    margin-top: 5px;
    padding: 10px;
}
.contents_form_area_row > div {
    display: table-cell;
}

a {
	font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

/* --- ボタン --- */

/* ボタンのセンタリング */
.button_area_center {
/*    margin: 20px 0; */
    text-align: center;
}
/* ボタンの右寄せ */
.button_area_right {
/*    margin: 20px 0; */
    display: flex;
    justify-content: flex-end;
}

/* ボタンエリア */
.button_area {
    margin-top: 20px;
}

/* ボタン */
.action_button {
    height: 40px;
    width: 150px;
}

.del_toggle_check_area {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 30px 10px 0px;
}

/* 表示更新ボタンアイコン */
.button_area .reload_button_icon {
    position: relative;
    top: 6px;
    left: -135px;
    z-index: 10;
    pointer-events: none;
}

/* 新規登録ボタンアイコン */
.control_button_area .regist_button_icon {
    position: relative;
    top: 6px;
    left: -138px;
    z-index: 10;
    pointer-events: none;
}

/* 削除ボタンアイコン */
.control_button_area .delete_button_icon {
    position: relative;
    top: 6px;
    left: -138px;
    z-index: 10;
    pointer-events: none;
}

/* ハンディ端末未対応表示 */
.handy_not_compatible {
width: 100%;
height: 300px;
text-align: center;
vertical-align: middle;
font-size: 16px;
color: red;
}
